
* {
  box-sizing: border-box;
  font:inherit;
  color:inherit;
  background-color: #fc7a57;
  border: 1px red solid
}

body{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;

  color: #444
}

p{
  max-width: 600;
}

#container{
  max-width: 80%;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

#menu{
  display: flex;
  justify-content: flex-end;
  
}

/* not sure if this header style will apply without the semntic tags but it should go onthe Header component */
header {
  display: flex;
  align-items:center;
}

.navigation {
  flex-grow:1;
}

.navigation-item {
  font-size: 1vw;
  text-decoration: none;
  color: #eefc57;
  margin-left:24px;
}

.navigation-item:hover{
  outline: 3px solid #eefc57;
  padding:5px;
  border: 2px solid white
}

.navigation-item:first-child {
  margin-left: 0px;
}

.navigation-item-active{
  color: #333;
}

.login-button{
  border: 5px solid white;
  background: linear-gradient(to right, #eefc57, #fc7a57 );
  padding: 10px 36px;
  border-radius: 50px;
  color: white;
}

.login-button:hover{
  outline: 3px solid #eefc57;
  border: 2px solid white;
}

.main{
  display: flex;
  align-items: center;
}

.main-content{
  flex:1;
  width:100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.headline {
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 20px;
  color: #eefc57;
  width:100%;
}

.tagline {
  font-size: 2.5vw;
  font-weight: 400;
  margin-top: 20px;
  color: #5e5b52;
}

.main-img{
  flex:1;
  /* padding-top:40px; */
  border-radius: 10px;
  margin-left:40px; 
}

.main-img img{
  width:100%;
  border-radius: 10px;

}

#food-selector{
  display: flex;
  justify-content: center;
}

#food-options{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

label{
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
}

.food-selector-options{
  border-color: #5e5b52;
  padding: 10px;
  margin-right: 24px;
  margin-left: 10px;
  font-size: 24px;
  color: #eefc57
}

.food-selector-options:focus{
  outline: 3px solid #eefc57;
  border: 2px solid white;
  padding:5px;
}

#flavour-display{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#flavour-display p{
  display: flex;
  font-size: 24px;
  font-style: italic;
  margin: 10px 0px;
}

.choose-option{
 display: flex;
 justify-content: center;
}

.choose-option button{
  display:flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border:1px solid #eefc57;
  display: flex;
  padding:10px 36px;
  margin:10px;

  background: -webkit-linear-gradient(
    180dg,
    #eefc57 0%
    #fc7a57 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
  display:flex;

}

socials{
  margin-right: 40px;

}

socials-item{
  margin-right: 12px;
}


/* media queries */

@media only screen and (min-width: 1000px) {
  .my-hamburger {
    display: none;
  }

  .bar1, .bar2, .bar3 {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .main{
   display: flex;
   align-content: center;
   flex-direction: column;
  }

  .main-img{
    margin: auto;
  }
}

@media only screen and (max-width:768px) {
 .main{
  display: block;
 }

 .main-content{
  margin-top: 0;
  margin-bottom: 0;
 }

 .headline{
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 10px;
 }

 .tagline{
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 10px;
 }

 .navigation{
  display: none
 }

 #menu{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.my-hamburger {
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.bar1, .bar2, .bar3 {
  width: 50px;
  height: 10px;
  border-radius: 20px;
  background-color: #eefc57;
  margin: 6px 0;
  transition: 0.4s;
}

.login-button{
  display: none;
  /* notworking */
}

#food-selector{
    display: flex;
    margin-top: 10px;
  }

  #food-options{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .food-selector-options{
    text-align: center;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    border-radius: 10px;
    border-color: #eefc57;
  }

  #flavour-display{
    display: flex;
  }

  #flavour-display p{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    width:100%;
    font-size: 20px;
    font-style: italic;
    margin: auto;
  }

  .choose-option{
    display: flex;
    justify-content: center;
    padding-top: 10px;
   }

}

@media (max-width: 320px) {
 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
 }

 #container{
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
 .headline{
  font-size: 2rem;
  margin: 10px auto;
  max-width: 80%;
 }

 .tagline{
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 10px;
 }

 .food-selector label{
  text-align: center;
  font-size: 1rem;
  margin: 10px auto;
  width: 100%;
}

#food-options{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 10px auto;
  max-width: 100%;
}

.food-selector-options{
  font-size: 1rem;
  padding: 0;
  border-radius: 10px;
  background-color: transparent;
  border-radius: 10px;
  border-color: #eefc57;
  max-width: 100%;
  margin: auto;
}

#flavour-display p{
 font-size: 1rem;
}


.choose-option{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .choose-option button{
  font-size: 0.8rem;
  width: 100%;
  margin: 5px auto;
  padding: auto;
 }

 .main-img{
  width: 100%;
  margin: auto;
}
}





  
 
  
 
  

  
  